<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Pricing example · Bootstrap v5.0</title>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">

    <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/pricing.css" rel="stylesheet">
    <link href="css/style_about.css" rel="stylesheet">
  </head>
  <body>
    
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
  </svg>

  <div class="container py-3">


    <div class="about-section">
      <h1>About Us</h1>
      <p>Selamat datang di Launderland. Situs ini kami buat secara berkelompok yang beranggotakan 5 orang. Nama kelompok kami adalah Asher Team yang berarti tim yang berbahagia dan diberkati</p>
      <p>Website ini kami buat dengan tujuan agar semua orang dapat dengan mudah mengakses layanan laundry secara online. Dimana orang-orang tidak perlu untuk datang secara langsung ke tempat Laundry kami, sehingga waktu Anda tidak terbuang sia-sia.</p>
    </div>
    
    <h2 style="text-align:center" class="nama-tim">Asher Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="img/David.jpg" alt="David" style="width:100%">
          <div class="container">
            <h2>David</h2>
            <p class="title">Founder of Launderland</p>
            <p>Halo saya David, saya merupakan anggota dari Asher Team. Saya sedang berkuliah di Universitas Mikroskil dan sekarang sedang berada di semester 7.</p>
            <p style="font-size: 15px;">201110648@students.mikroskil.ac.id</p>
            <p><a href="mailto:201110648@students.mikroskil.ac.id"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="img/karina.jpeg" alt="Karina" style="width:100%">
          <div class="container">
            <h2>Karina</h2>
            <p class="title">Founder of Launderland</p>
            <p>Halo saya Karina, saya merupakan anggota dari Asher Team. Saya sedang berkuliah di Universitas Mikroskil dan sekarang sedang berada di semester 7.</p>
            <p style="font-size: 15px;">201111834@students.mikroskil.ac.id</p>
            <p><a href="mailto:201111834@students.mikroskil.ac.id"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <img src="img/ananda.jpg" alt="Ananda" style="width:100%">
          <div class="container">
            <h2>Ananda</h2>
            <p class="title">Founder of Launderland</p>
            <p>Halo saya Ananda, saya merupakan anggota dari Asher Team. Saya sedang berkuliah di Universitas Mikroskil dan sekarang sedang berada di semester 7.</p>
            <p style="font-size: 15px;">201110023@students.mikroskil.ac.id</p>
            <p><a href="mailto:201110023@students.mikroskil.ac.id"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="img/william.jpeg" alt="William" style="width:100%">
          <div class="container">
            <h2>William</h2>
            <p class="title">Founder of Launderland</p>
            <p>Halo saya William, saya merupakan anggota dari Asher Team. Saya sedang berkuliah di Universitas Mikroskil dan sekarang sedang berada di semester 7.</p>
            <p style="font-size: 15px;">201110894@students.mikroskil.ac.id</p>
            <p><a href="mailto:201110894@students.mikroskil.ac.id"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="img/roger.jpeg" alt="Roger" style="width:100%">
          <div class="container">
            <h2>Roger</h2>
            <p class="title">Founder of Launderland</p>
            <p>Halo saya Roger, saya merupakan anggota dari Asher Team. Saya sedang berkuliah di Universitas Mikroskil dan sekarang sedang berada di semester 7.</p>
            <p style="font-size: 15px;">201111284@students.mikroskil.ac.id</p>
            <p><a href="mailto:201111284@students.mikroskil.ac.id"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="img/logo.png" alt="" width="30" height="30">
          <small class="d-block mb-3 text-muted">&copy; 2021</small>
        </div>
        <div class="col-6 col-md">
          <h5>Pemesanan</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/pemesanan-reguler">Paket Reguler</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/pemesanan-medium">Paket Medium</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/pemesanan-high">Paket High</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/history">History</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Social Media</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.facebook.com" target="_blank">Facebook</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://instagram.com" target="_blank">Instagram</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://twitter.com" target="_blank">Twitter</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about-us">Team</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://maps.google.com" target="_blank">Locations</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <script>
    const logoutUser = async () => {
        try {
            const response = await fetch('/user/logout');
            const data = await response.json();
            if (data.result === 'SUCCESS') {
                alert('You have successfully logged out.');
                location.reload();
            } else {
                alert('User logout operation error (message: ' + data.message + ').');
            }
        } catch(e) {
            console.error(e);
            alert('Request error!');
        }
    };
  </script>
    
  </body>
</html>
